

* { /*temporario*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ubuntu";
}
html, body, #root { /*temporario*/
  width: 100%;
  height: 100%;
}

#root { /*temporario*/
  background-color: hsl(233, 20.00%, 92.20%);
  display: flex;
  justify-content: center;
  align-items: center;
}


